[submodule "itpp-labs/access-addons"]
	path = itpp-labs/access-addons
	url = git@github.com:itpp-labs/access-addons.git
	branch = 12.0
[submodule "itpp-labs/event"]
	path = itpp-labs/event
	url = https://github.com/it-projects-llc/event.git
	branch = 12.0
[submodule "itpp-labs/l10n-addons"]
	path = itpp-labs/l10n-addons
	url = https://github.com/it-projects-llc/l10n-addons.git
	branch = 12.0
[submodule "itpp-labs/mail-addons"]
	path = itpp-labs/mail-addons
	url = https://github.com/it-projects-llc/mail-addons.git
	branch = 12.0
[submodule "itpp-labs/misc-addons"]
	path = itpp-labs/misc-addons
	url = https://github.com/it-projects-llc/misc-addons.git
	branch = 12.0
[submodule "itpp-labs/pos-addons"]
	path = itpp-labs/pos-addons
	url = https://github.com/it-projects-llc/pos-addons.git
	branch = 12.0
[submodule "itpp-labs/website-addons"]
	path = itpp-labs/website-addons
	url = https://github.com/it-projects-llc/website-addons.git
	branch = 12.0
